<!DOCTYPE html>
<html>
<head>
    <title>Donation Receipt</title>
</head>
<body>

<h2>NSS IIT Roorkee – Donation Receipt</h2>
<hr>

<p><b>Donor Name:</b> {{ receipt[1] }}</p>
<p><b>Email:</b> {{ receipt[0] }}</p>
<p><b>Campaign:</b> {{ receipt[2] }}</p>
<p><b>Amount:</b> ₹ {{ receipt[3] }}</p>
<p><b>Payment Method:</b> {{ receipt[4] }}</p>
<p><b>Payment Reference:</b> {{ receipt[5] }}</p>
<p><b>Date & Time:</b> {{ receipt[6] }}</p>

<hr>
<p>This is a system-generated sandbox receipt.</p>

</body>
</html>
